/* ==========================================================================
   Author's custom styles
   ========================================================================== */

test {
  color:red;
  @media @tablet {
    color:green;
  }
  @media @wide {
    color:blue;
  }
  @media @maxWidth {
    color:orange;
  }
}
