/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* --- Colors --- */

@bg:         #2E2D2B;
@grey:       #4B4B4B;
@lightGreen: #B5C8B6;
@lightRed:   #C36E6F;
@darkGreen:  #9DAD9E;
@darkRed:    #AA6162;
@cream:      #AEA99E;
@font-color: #E3D3C2;


/* --- Fonts --- */

@import "http://webfonts.ru/import/monofur.css";
@import "http://webfonts.ru/import/caviar.css";
@fontMonofur: 'Monofur', sans-serif;
@fontCaviar: 'Caviar Dreams', sans-serif;


.container {
  .clearfix;
  width: 90%;
  margin: 5% auto;
  @media @maxWidth {
    width: 960px;
  }
}

body {
  background: @bg;
  color: @font-color;
  font-family: @fontCaviar;
  font-weight: bold;
}

.header {
  h1 {
    text-align: center;
    font-size: 1.9em;
  }
}
/* --- OPTIONS --- */

.options {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  @media @tablet {
    text-align: left;
  }
  @media @wide {
    float: left;

    &:after {
      position: absolute;
      right: -80px;
      top:0;
      .inlineblock;
      content: '';
      background: @grey;
      width:2px;
      height: 165px;
    }
  }
}
.options__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  @media @tablet{
    
  }
}
.options__description {
  text-align: left;
  margin-bottom: 10px;

  @media @tablet {
    .inlineblock;
    width: 120px;
    vertical-align: none;
   }
}

/* --- SLIDER ---*/
.ui-slider {
  position: relative;

  @media @tablet {
    .inlineblock;
    width: 250px;
    vertical-align: none;
    margin-left: 15px;
  }
}
.ui-slider-horizontal {
  height: .8em;
  .border-radius (@radius: 10px);
  background: @grey;
}
.ui-slider .ui-slider-handle {
  .border-radius (@radius: 10px);
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 1.5em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  top: -.4em;
  margin-left: -.3em;
  border: 1px solid #d3d3d3;
  background: #e6e6e6;
  font-weight: normal;
  color: #555555;
  outline: none;
  border: none;
}
#slider__radius {
  .ui-slider-range {
    .border-radius (@radius: 10px);
    height: 100%;
    background: @lightRed;
  }
}
#slider__size { 
  .ui-slider-range {
    .border-radius (@radius: 10px);
    height: 100%;
    background: @lightRed;
  }
}
#slider__width { 
  .ui-slider-range {
    .border-radius (@radius: 10px);
    height: 100%;
    background: @lightGreen;
  }
}
#slider__height { 
  .ui-slider-range {
    .border-radius (@radius: 10px);
    height: 100%;
    background: @lightGreen;
  }
}

/* --- Slider END --- */

.options__input {
  text-align: left;
  input {
    background: @grey;
    border: 2px solid @bg;
    height: 35px;
    width: 100%;
    padding: 0 20px;
    .border-radius(25px);
    .transition(0.5s);
    &:hover, &:focus {
      background: none;
      border: 2px solid @grey;
    }
  }

  @media @tablet {
    .inlineblock;
    vertical-align: none;
    margin-left: 15px;
    width:250px;
  }
}
.options__slider {
  margin-bottom: 10px;
}

/* --- RESULT BUTTON --- */
.result__button {
  &:extend(.options);
  text-align: center;
   @media @wide {
    float: left;
    margin-left: 23%;
  }
}
#result {
  outline: none;
  border: 2px solid;
  .border-radiuses(10px, 10px, 10px, 10px);
  background: @cream;
  color: #EDECEC;
  padding: 15px 25px;
  font-size: 1.3em;
  .transition(.5s);
}


/* --- RESULT CODE --- */
.result__title {
  &:extend(.options__title);
}

.result__form {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
  @media @wide{
    &:before {
      .inlineblock;
      position: absolute;
      content:'';
      left:0;
      top: -50px;
      height: 2px;
      width: 100%;
      background: @grey;
    }
  }
}
.form__css {
  @media @wide {
    .clearfix;
    float: left;
    width: 49%;
    margin-bottom: 35px;
    margin-left: 2%;
  }
}
.form__html {
  &:extend(.form__css);
  margin-left: 0;
}
textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  background: @grey;
  border: none;
  .border-radius(15px);
  .placeholder(@color: @font-color);
  outline: none;
  padding: 10px;
}

input[type="email"] {
  background: @grey;
  border: 2px solid @bg;
  padding: 0 15px;
  .border-radius(25px);
  height: 42px;
  margin-bottom: 15px;
  .transition(0.5s);
  &:hover, &:focus {
    background: none;
    border: 2px solid @grey;
  }
}

#submit {
  background: @lightGreen;
  border: none;
  height: 50px;
  width: 150px;
  .border-radius(60px;);
  outline: none;
  color: #fbfbfb;
  font-size: 1.2em;
  padding: 14px;
  .transition(0.3s);
  &:hover {
    background: @darkGreen;
  }
}
.errors {
  margin-top: 10px;
}
.footer__copyright {
  text-align: center;
}
